{% extends 'base.html' %}
{% block title %} Discussion Forum {% endblock %}

{% block header %}    
<h1 class="display-4" style="font-family: x-locale-heading-primary,zillaslab,Palatino,Palatino Linotype,x-locale-heading-secondary,serif;">
Discussion Forum:
</h1>
{% endblock %}
{% load markdownify %}

{% block content %}
    <h2 class="alert-heading"> Questions </h2> 
    <span><a class="btn btn-info" href=" {% url 'add_question' %} ">Ask</a> </span>
    <hr>

    {% if tag %}
    <h4>Questions tagged with "{{ tag.name }}"</h4>
    {% endif %}
    {% for question in questions %}
    <div class="card">
        <div class="card-header bg-dark text-light">
          <strong class="font-weight-bold"><a href=" {% url 'question_detail' pk=question.id %} " class="text-light" >{{question}}</a></strong>
        </div>
        <div class="card-body">
            <p class="card-subtitle mb-2 text-muted text-right">by  <!--Link for user profile--> <a href=" {# % url 'user_profile' pk=question.user.profile.id % #} ">{{question.user.username}}</a> on {{question.created}} </p>
          <p class="card-text small">{{question.content|markdownify}}</p>
          <a href="{% url 'add_answer' pk=question.id %}" class="btn btn-primary">Answer</a>
        </div>
        <div class="card-footer">
            <span> Answers: {{question.answers.all.count}} </span> 
            | Tags:  
            {% for tag in question.tags.all %}
                <span><a href="{% url 'question_list_by_tag' tag.slug %}" class="badge badge-dark text-light">{{tag.name}}</a> </span>
            {% empty %}
                <span>No Tags</span>
            {% endfor %}
        </div>
      </div> <br>
    {% empty %}
        <h2 class="alert alert-primary alert-danger" role="alert">
            <strong>No Questions Available!</strong><br></h2>
        <strong>Looks like, Users are way too smart so they haven't posted anything yet! and can handle problems on their own without any assitance</strong>
    {% endfor %}

    <nav aria-label="...">
    {% if questions.has_other_pages %}
            <ul class="pagination">
            {% if questions.has_previous %}
                <li class="page-item disabled">
                    <a href="?page={{ questions.previous_page_number }}" class="page-link">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span>Previous</span></li>
            {% endif %}
            {% for i in questions.paginator.page_range %}
                {% if questions.number == i %}
                <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}" class="page-item">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if questions.has_next %}
                <li><a href="?page={{ questions.next_page_number }}" class="page-item">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span>Next</span></li>
            {% endif %}
            </ul>
    {% endif %}   
    </nav>
    
{% endblock %}