{% extends 'base.html' %}
{% block title %} Discussion Forum {% endblock %}

{% block header %}    
<h1 class="display-4" style="font-family: x-locale-heading-primary,zillaslab,Palatino,Palatino Linotype,x-locale-heading-secondary,serif;">
Discussion Forum:
</h1>
{% endblock %}
{% load markdownify %}

{% block content %}
    <h2 class="alert-heading"> Questions </h2>  <hr>

    {% for question in questions %}
    <div class="card">
        <div class="card-header bg-dark text-light">
          <strong class="font-weight-bold"><a href=" {% url 'question_detail' pk=question.id %} " class="text-light" >{{question}}</a></strong>
        </div>
        <div class="card-body">
            <p class="card-subtitle mb-2 text-muted text-right">by  <!--Link for user profile--> {{question.user.username}} on {{question.created}} </p>
          <p class="card-text small">{{question.content|markdownify}}</p>
          <a href="#" class="btn btn-primary">Answer</a>
        </div>
        <div class="card-footer">
            <span>{{answered}}</span>
            | Tags:  
            {% for tag in question.tags.all %}
                <span><a class="badge badge-dark text-light">{{tag.name}}</a> </span>
            {% empty %}
                <span>No Tags</span>
            {% endfor %}
        </div>
      </div> <br>
    {% empty %}
        <h2 class="alert alert-primary alert-danger" role="alert">
            <strong>No Questions Available!</strong><br></h2>
        <strong>Looks like, Users are way too smart so they haven't posted anything yet! and can handle problems on their own without any assitance</strong>
    {% endfor %}

{% endblock %}