{% extends 'base.html' %}
{% load markdownify %}
{% block title %} {{question.title}} {% endblock %}

{% block header %}    
    <h2 class="display-5" style="font-family: x-locale-heading-primary,zillaslab,Palatino,Palatino Linotype,x-locale-heading-secondary,serif;">
    <strong>{{question.title}}</strong> by {{question.user.username}} on {{question.created}}
    </h2>
    <p>{{question.content|markdownify}}</p>
{% endblock %}

{% block content %}
    {% for answer in answers %}
        <h3>Answer by: {{answer.user.username}} </h3> <!--Have to add user link here-->
        <p>{{answer.content|markdownify}}</p>
        <p>Upvotes:{{answer.upvotes}}</p>
    {% empty %}
        <h2 class="alert alert-primary alert-danger" role="alert"><strong>Nobody answered this question yet!</strong><br></h2>
    {% endfor %}
{% endblock %}